
/*bold*/
#line {
	border-top: 1px solid grey;
	margin-top: 0%;
	/*margin-bottom: 1px solid black;*/
}
.btn-group>a : hover {
	background-color: white;
}
#delete_button{
	background:#3399ff;
	color:white;
	float: right;
}


/*즐겨찾기 */
#main_body {
	margin-top: 3%;
	width: 100%;
	padding: 0;
}

#main_hiddenPlace {
	margin-top: 2%;
	width: 
}
#main_hiddenPlace > div {
	margin-bottom: 5%;
}

#main_hiddenPlace>div>div>div {
	padding: 0;
	margin-right: 30px;
}
#img_circle {
	margin-left: -130%;
}

.personal_article_space {
	height: 40px;
	margin-bottom: 1%;
}

.name {
	font-weight: bold;
	color: #0033cc;
	font-family: "견명조", "윤고딕", "맑은 고딕", sans-serif;
}

.insert_date {
	font-style: italic;
}

.hiddenPlace_img {
	width: 100%;
	height: 220px;
}

.text {
	position: absolute;
	top: 40px;
	left: 80px;
	width: 700%;
}

h2 {
	font-weight: bold;
}

.nav-tabs {
	margin-top: 40px;
}


/*체크박스 */
 
input[type=checkbox] {  
    display: none;  
}

input[type=checkbox] + label{
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 13px;
}

input[type=checkbox]+ label:before {     

    content: "";  
    display: inline-block;  
  
    width: 20px;  
    height: 20px;  
  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottom: 1px;  
    background-color: #ccc;  
    border-radius: 2px; 
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
}
input[type=checkbox]:checked + label:before { 

    content: "\2713";  /* 체크모양 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 18px; 
    font-weight:800; 
    color: #fff;  
    background:#2f87c1;
    text-align: center;  
    line-height: 18px;  
}