
#check_left_gride {
   padding-left: 0px;
   text-align : left;
}

#check_rigth_gride {
   padding-left: 0px;
   text-align : right;
}

.tab-content {
   font-size : 20px;
}

.nav-tabs {
   font-size : 20px;
}

.myinfo_input {
   border-radius : 5px;
   width : 300px;
}

#cancle {
   margin-left : 10%;
}

#update_button_dup, #update_button_join, 
#update_button_cancle, #delete_button_join, 
#delete_button_cancle {
   background-color : #3399ff;
   color : white;
}

#update_button_dup, #update_button_join, 
#update_button_cancle, #delete_button_join, 
#delete_button_cancle:hover {
	background-color : #3399ff;
   color : white;
}

#delete_content {
   margin : 2%;
}

#delete_id {
   margin : 2%;
}

#delete_nowPw {
   margin : 2%;
}